body {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 14pt;
    padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
